.text-status-normal{ color:var(--status-normal-color,#18a058) !important }
.text-status-disabled{ color:var(--status-disabled-color,#d03050) !important }
.bg-status-normal{ background-color:var(--status-normal-color,#18a058) !important }
.bg-status-disabled{ background-color:var(--status-disabled-color,#d03050) !important }
.border-status-normal{ border-color:var(--status-normal-color,#18a058) !important }
.border-status-disabled{ border-color:var(--status-disabled-color,#d03050) !important }
.status-dot,.status-dot-disabled,.status-dot-normal{ display:inline-block; width:8px; height:8px; border-radius:50%; margin-right:8px }
.status-dot-normal{ background-color:var(--status-normal-color,#18a058) }
.status-dot-disabled{ background-color:var(--status-disabled-color,#d03050) }
.status-tag,.status-tag-disabled,.status-tag-normal{ display:inline-block; padding:2px 8px; border-radius:2px; font-size:12px }
.status-tag-normal{ background-color:rgba(24,160,88,.1); color:var(--status-normal-color,#18a058) }
.status-tag-disabled{ background-color:rgba(208,48,80,.1); color:var(--status-disabled-color,#d03050) }